dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.stack-work
cabal.sandbox.config
*.prof
*.aux
*.hp
gennofib.log

*.temp
*.swp

Main
big files
json-data/
*dist*
nofib-results/
